<h3>Satellite Counts:</h3>
<div class="counts">
   <div>Total: <span>{{ totalType("", satellites) }}</span></div>
   <div>Space Debris: <span>{{ totalType("space debris", satellites) }}</span></div>
   <div>Communication: <span>{{ totalType("communication", satellites) }}</span></div>
   <div>Probe: <span>{{ totalType("probe", satellites) }}</span></div>
   <div>Positioning: <span>{{ totalType("positioning", satellites) }}</span></div>
   <div>Space Station: <span>{{ totalType("space station", satellites) }}</span></div>
   <div>Telescope: <span>{{ totalType("telescope", satellites) }}</span></div>
</div>